.card {
    margin-bottom: 20px;
}

.list-group-item {
    background-color: var(--bs-dark);
    border-color: var(--bs-secondary);
}

.form-control {
    background-color: var(--bs-dark);
    border-color: var(--bs-secondary);
    color: var(--bs-light);
}

.form-control:focus {
    background-color: var(--bs-dark);
    border-color: var(--bs-primary);
    color: var(--bs-light);
}
